.glass{
   /* display: grid; */
  height: 97%;
  width: 97%;
  background:#ffffff8a;
  border-radius: 2rem;
  gap: 16px;
  /* grid-template-columns: 11rem auto 20rem; */
  overflow: hidden;
}